<!DOCTYPE html>
<html>
  <head>
    <title>Eco-Mession</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="homestyle.css">
  </head>
  <header>  
    <a id="toplogo" href="EcoHome.html"><img id="HomeLogo" src="Pics/logo.jpeg" alt="EcoLogo"></a></li>

    <nav class="topnav">
      <ul>
        <li><a href="#">Green Cars</a></li>
        <li class="dropdwn">
          <button class="dropdwnMenu">Community</button>
            <div id="dropdwn-content">
              <a href="#">Account</a>
              <a href="forum.html">Forum</a>
              <a href="newsletter.html">Newsletter</a>
            </div>
        </li>    
        <li><a href="#">About Us</a></li>
        <li><a id="lstmenu" href="#">Map</a></li>
      </ul>
    </nav>
    <div class="SlideSec">
      <img class="slides" src="Pics/EV1.jpg">
      <img class="slides" src="Pics/EV2.jpg">
      <img class="slides" src="Pics/EV3.jpg">
      <img class="slides" src="Pics/EV4.jpg">
    </div>
  </header>
  <body>
    <main>
      <!--Breadcrumbs to help navigate to previous page-->
      <div class="breadcrumb">
        <a href="EcoHome.html">Home</a>
        <b> > </b>
        <a href="forum.html"> Forum</a>
      </div>
      <div class="container mt-3">
        <h2>Forum Discussion</h2>
        <p>Use the .form-control class to style textareas as well:</p>
        <form action="/action_page.php">
          <div class="mb-3 mt-3">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </main>
    <script src="EcoScript.js"></script>
  </body>

  <footer>
   <!--Div where the logo for EcoMession and copyright is -->
   <div class="footerLogo">
     <img id="bottomLogo" src="Pics/logo.jpeg" alt="footerLogo">
     <h3>Copyright © 2021 All Rights Reserved by Eco-Mession Group</h3>
   </div>
   <!--Social Media Links-->
   <div class="SocialIcons">
     <a href= "#"><img src="Pics/GooglePlus.jpg" alt="GP"></a>
     <a href= "#"><img src="Pics/insta.jpg" alt="IG"></a>
     <a href= "#"><img src="Pics/FB.jpg" alt="FB"></a>
     <a href= "#"><img src="Pics/Twitter.jpg" alt="TW"></a>
     <a href= "#"><img src="Pics/linkedin.jpg" alt="LI"></a>
   </div>
   <!--Contact Details-->
   <div class="Details">
     <h2 id="H2footer">Contact</h2>
     <p id="contactDet">
       Robert Gordon University <br>
       Garthdee House, Garthdee Rd, Garthdee, <br>
       Aberdeen AB10 7AQ
     </p>
   </div>
  </footer>   
</html>          