<!--webpages partial header ejs-->
<!--start of navbar-->
<nav class = "navbar">
    <a id="toplogo" href="/"><img class="primary-icon" src="Pics/logo.jpeg"></a>
        
    </div>
    <ul class="nav-list" id="navi-list">
        <li class="list-item">
            <a href="/GreenVehicle">Green Cars</a>
        </li>
            <div class="dropdown">
            <button class="dropbtn">Community</button>
            <div class="dropdown-content">
                <a href="/Login">Account</a>
                <a href="#">Forum</a>
                <a href="/News">Newsletter</a>
            </div>
            </div> 
        <div class="bigScreenNavbar">
        <li class="list-item">
            <a href="/Login">Account</a>
        </li>
        <li class="list-item">
            <a href="#">Forum</a>
        </li>
        <li class="list-item">
            <a href="/News">Newsletter</a>
        </li>
        </div>
        <li class="list-item">
            <a href="/AboutUs">About Us</a>
        </li>
        <li class="list-item">
            <a href="/Map">Map</a>
        </li>
    </ul>
    <div class="menu" id="toggle-button">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</nav>
<div class="SlideSec">
    <img class="slides" src="Pics/EV1.jpg">
    <img class="slides" src="Pics/EV2.jpg">
    <img class="slides" src="Pics/EV3.jpg">
    <img class="slides" src="Pics/EV4.jpg">
</div>
