<!DOCTYPE html>
<html>
    <head>
        <title>EcoMession Green Vehicle</title>
        <%- include('./partial/head') %>
    </head>
    <header>
        <%- include('./partial/header') %>
    </header>
    <body>
    <!--Breadcrumbs to help navigate to previous page-->
      <div class="breadcrumb">
        <a href="/">Home</a> >
        <a href="/GreenVehicle">Green Cars</a>
      </div>

      
        <div class="header-container">
            <img src="https://www.energywatch.com.my/wp-content/uploads/2020/04/road-scaled.jpg" alt="TeslaInterior" style="overflow:hidden;object-fit: cover; width:100%; height: 100%;">
            <div class="content">
                <h1>Green Vehicle</h1>
            </div>
        </div>
    
        
        
        <!--start of greenVehicleContainer-->
        <div class="greenVehicleContainer">


        
        
        <section class="BestEV">
            <article>
            <h3>Best Green Vehicles Of The Year</h3>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Best Electric Car Of The Year
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Tesla Model 3</strong> <br> 
                                <img id="TeslaModel3" src = "https://carwow-uk-wp-3.imgix.net/tesla-model-3-4.jpg" alt="Tesla Model 3" 
                                width="400"
                                height="250" >
                                <li> Class-leading range, performance and handling</li>
                                <li> Comfortable seating and lots of interior room</li>
                                <li> Access to Tesla's prolific Supercharger fast-charging stations </li>
                                <li> Starting price : £42,990 </li>
                                The Model 3 delivers an impressive driving experience compared to other non-luxury electric vehicles. Its minimalistic interior design feels chic, modern and upscale. The rear-wheel-drive layout and powerful electric motor also provide natural athleticism and quicker acceleration than anything in its price range. If you're in the market for an electric vehicle, the Model 3 is virtually unbeatable for the price.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Best Luxury Electric Car Of The Year
                        </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong> Porsche Taycan </strong>
                                <img id="PorscheTaycan" src="https://newsroom.porsche.com/.imaging/mte/porsche-templating-theme/image_1290x726/dam/pnr/2021/Products/Free-Software-Update-Taycan/Free-Software-Update-for-early-Porsche-Taycan_2.jpeg/jcr:content/Free%20Software-Update%20for%20early%20Porsche%20Taycan_2.jpeg" alt="PorscheTaycan"
                                width="400"
                                height="250" >
                
                                <li> Rapid acceleration and enjoyable, hunkered-down handling </li>
                                <li> Potential for very quick fast-charging capability </li>
                                <li> Four-door practicality plus two trunks </li>
                                <li> Impressive build quality and interior finish </li>
                                <li> Starting price:  £70,690 </li>
                                The Taycan represents Porsche's foray into the electric vehicle space, and it does not disappoint. The Taycan is a technological masterpiece that manages to deliver incredible comfort and effortless driving one moment and then, with the twist of a knob, world-beating performance the next. How one car can do both so well is a little baffling.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Best Electric SUV Of The Year
                        </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong> Ford Mustang Mach-E </strong>
                                <img id = "FordMustang" alt="Ford Mustang Mach-E" img src="https://media.ford.com/content/fordmedia/fna/us/en/products/evs/mustang-mach-e/mustang-mach-e/jcr:content/content/media-section-parsys/textimage_f597/image.img.951.535.jpg/1608221793793.jpg"
                                width="400"
                                height="250" >
                                <li> Sporty handling and acceleration especially with the GT </li>
                                <li> Plenty of range with the larger battery pack </li>
                                <li> Big center touchscreen looks great and is pretty easy to use </li>
                                <li> Useful amount of cargo space </li>
                                <li> Starting price: £42,530 </li>
                                It's a Mustang! It's an SUV! It's the all-electric Ford Mach-E! We didn't know what to expect when we heard Ford was cooking up an electric Mustang SUV, but we're certainly glad it exists. With engaging driving performance, no tailpipe emissions and over-the-air software updates on a huge center touchscreen, the Mach-E drives and looks like a car of the future.
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    
        
        <section class=  "GasVsEV" >
            <article id="GasVsEVart">
            <h3> Electic vs Combustion Engine Vehicles </h3>
            <img id="GasVsEVpic" alt="GasVsEV" src="https://techcrunch.com/wp-content/uploads/2020/03/gas-vs-electric.png" width="500" height="250" >
        
            <h4> Benefits of using electric vehicles </h4>
            <p> Electric cars offer a range of financial,
                performance and environmental benefits 
                when compared with internal combustion engine vehicles.
                </p>
                <br> So what are the advantages of electric cars? They are often:<br>
                <ul>
                <li> Greener. </li>
                <li> Faster. </li>
                <li> Cheap to run. </li>
                <li> More convenient to own. </li>
                <li> Soon to be cheaper to buy or lease. </li>
                </ul>
                <br>
                <p> Investing in an Electric Vehicle is a smart move
                as EV's are low maintanence which means you will not
                be spending a lot of money in the car service and 
                electricity is way cheaper than gas or diesel so 
                your investment will even save you money as you 
                are saving the planet.
                </p>
            </article>
        </section>

        <div class= "Calculator" id ="calculator">
            <h3> Cost of car trip and energy used calculator </h3> 
            <select id="myDropdown" class="form-select" aria-label="Default select example">
                <option selected>Select Car Model</option>
                <option value="tesla">Tesla Model 3</option>
                <option value="porsche">Porsche Taycan</option>
                <option value="ford">Ford Mustang Mach-E</option>
            </select>
        
        
            <div class = "TripMiles">
                <label for="miles">Enter Trip Miles</label>
                <input type="number" id="miles" oninput="consumptionKwh()" name="tripMiles">
                <p id="consumptionKwh"></p>
            </div>
            <div class = "CostOfTrip">
                <button for ="CostOfTrip" onclick="costOfTrip()">Click me for cost of trip</button> 
                <p id="costOfTrip"></p>
            </div>
        </div>
    



</div> <!--End of green vehicle container-->
        <script src="js/EcoScript.js"> </script>












    </body>



    
    <footer class="footer">
        <%- include('./partial/footer') %>
    </footer> 








</html>    